version: '3.8'

    services:
      frontend:
        container_name: car-fault-detection-frontend
        build:
          context: .
          dockerfile: Dockerfile
        ports:
          - "3000:80" # Map host port 3000 to container port 80
        restart: unless-stopped
        healthcheck:
          test: ["CMD-SHELL", "curl --fail http://localhost || exit 1"]
          interval: 30s
          timeout: 10s
          retries: 3
        networks:
          - app-network

    networks:
      app-network:
        driver: bridge